.display {
    width: 100%;
    height: 20%;
    background-color: #323232;
    font-size: 14vmin;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.auto-scaling-text {
    display: inline-block;
}
.display .auto-scaling-text {
    padding: 0 30px;
    right: 0;
    transform-origin: right;
}